/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

[class*="zocial-"]:before {
	color: black;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

article {
	width: 50em;
	max-width: 100%;
}

h1 {

}

img {
	max-width: 100%;
}

.social-links a {
  margin: 0 1em 0 0;
}

.social-links a:last-of-type {
  margin: 0;
}
