/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

article {
	width: 50em;
	max-width: 100%;
}

h1 {

}

img {
	max-width: 100%;
}
